.logo-google {
    font-family: Product sans-serif;
    text-shadow: 2px 6px 6px #d8c7c7;
    font-size: 100px;
    text-align: center;
    align-items: center;
}

.letra-g {
    color: #0080FF;
}

.letra-o- {
    color: #FF0000;
}

.letra-o {
    color: #F4A828;
}

.letra-l {
    color: #34a853;
}

.letra-e {
    color: #FF0000;
}